{% extends "taslak.html" %}
{% block baslik %} Kaydol {% endblock %} 
{% block icerik %}
<div class="main">
    <form action="{{ url_for('kayit') }}" method="post">
        <label class="form-baslik"> 📝 Kaydol </label>
        <input type="text" name="isim" placeholder="Kullanıcı adı" required>
        <input type="email" name="email" placeholder="Email giriniz" required>
        <input type="tel" name="telefon" placeholder="Telefon numaranız" pattern="[0-9]{11}" title="Başında sıfır olacak şekilde 11 haneli giriniz." required>
        <input type="password" name="sifre" placeholder="Şifre giriniz" required>
        
        <div class="sozlesme-onay-alani" style="background:rgba(0,0,0,0.2); padding:10px; border-radius:6px; margin:10px 0; border-left:3px solid #ff9f43;">
            <label style="font-size:12px; font-weight:normal; cursor:pointer; display:flex; gap:8px;">
                <input type="checkbox" required style="width:auto; height:auto; margin:0;">
                <span>Aracım satıldığında %1 simsarlık komisyonu ödemeyi taahhüt ediyorum.</span>
            </label>
        </div>

        <button type="submit"> Kaydı Tamamla </button>
        <a href="/login" style="background:transparent; border:none; color:rgb(62,165,235); text-align:center; display:block; margin-top:10px;">Giriş Yapın</a>
        {% if hata %} <label class="hata"> {{ hata }} </label> {% endif %}            
    </form>
</div>
{% endblock %}
