{% extends "taslak.html" %}
{% block baslik %} Giriş Yap {% endblock %}

{% block icerik %}
<div class="main">
    <form action="{{ url_for('login_kontrol') }}" method="post">

        <label class="form-baslik">🔐 Giriş Yap</label>

        <input type="text"
               name="isim"
               placeholder="Kullanıcı Adı / Telefon / E-posta"
               required>

        <input type="password"
               name="sifre"
               placeholder="Şifre"
               required>

        <button type="submit">
            Giriş Yap
        </button>

        <a href="/sifremi-unuttum"
           style="display:block;
                  margin-top:10px;
                  color:#ff9f43;
                  text-align:center;
                  text-decoration:none;
                  font-weight:bold;">
            🔑 Şifremi Unuttum
        </a>

        <a href="/kaydol"
           style="display:block;
                  margin-top:10px;
                  color:white;
                  text-align:center;
                  text-decoration:none;
                  font-weight:bold;">
            📝 Hesap Oluştur (Kaydol)
        </a>

        {% if hata %}
        <label class="hata">
            {{ hata }}
        </label>
        {% endif %}

    </form>
</div>
{% endblock %}
